<div class="publication pure-g" id="{{p.id}}">

<!-- <div class="pure-u-1-24 entryIndex">{{forloop.rindex}}</div> -->
<div class="infos pure-u-1">

<!-- Title -->
<div class="title">{{p.title}}</div>


<!-- List of authors -->
{% if p.author %}
<div class="authors">
    {% for a in p.author %}{% if forloop.first %}{%else%}{% if forloop.last %}, and {%else%}, {% endif %}{%endif%}<span class="name{% if a.family == 'Poisot' %} pi{% endif%}">{%if a.family %}{{a.family | capitalize}}{% endif %}</span>{% endfor %}
</div>
{% endif %}

<!-- Date of publication -->
<!-- {% if p.issued %}<span class="entryDate">{{ p.issued.date-parts[0][0] | inspect }}</span>{% endif %} -->

</div>

    <div class="metadata pure-u-1">
            {% if site.featured_papers contains p.id %}
            <span class="label">
                <i class="fa-fw fa fa-star" aria-hidden="true"></i>
            </span>
            {% endif %}
            {% if p.DOI %}
            <span class="label">
                <a href="http://dx.doi.org/{{ p.DOI }}" title="Full text at {{ p.container-title}}" target="_blank">
                    <i class="fa-fw fa fa-external-link-square" aria-hidden="true"></i> {{ p.DOI }}
                </a>
            </span>
            {% else %}
            <span class="label">
                <a href="{{ p.URL }}" title="Full text at {{ p.container-title}}" target="_blank">
                    <i class="fa-fw fa fa-link" aria-hidden="true"></i> full text
                </a>
            </span>
            {% endif %}
            {% for m in site.data.metadata %}
             {% if m.id == p.id %}
                {% if m.github %}
                <span class="label">
                        <a href="{{ m.github }}" title="Associated GitHub repository" target="_blank">
                            <i class="fa-fw fa fa-github" aria-hidden="true"></i> GitHub
                        </a>
                    </span>
                {% endif %}
                {% if m.code %}
                <span class="label">
                        <a href="{{ m.code }}" title="Associated code" target="_blank">
                            <i class="fa-fw fa fa-code" aria-hidden="true"></i> Code
                        </a>
                    </span>
                {% endif %}
                {% if m.data %}
                <span class="label">
                        <a href="{{ m.data }}" title="Associated data" target="_blank">
                            <i class="fa-fw fa fa-table" aria-hidden="true"></i> Data
                        </a>
                    </span>
                {% endif %}
             {% endif %}
            {% endfor %}
    </div>

</div>
